{{!-- <li>
    {{burger_name}}

    <button class="change-eat" data-id="{{id}}" data-eaten="{{devoured}}">
        {{#if devoured}}Devour!!!!!!<i class="material-icons">
			fastfood
		</i>{{/if}}
    </button>

    
</li> --}}
<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#if devoured}}DEVOUR{{else}}
		<i class="material-icons">
			fastfood
		</i>{{/if}}
	</button>

</li>
